.main {
    padding: 3rem;
    min-height: 100vh;
    background-color: bisque;
    display: flex;
    flex-direction: column;
  }

.testing{
  background-color: aliceblue;
  padding: 10px;
  flex-direction: column-reverse;
  }

.testing1{
  background-color: blanchedalmond;
  padding: 10px;
  flex-direction: row;
  }

