.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;
    background-color: #ffffff;
  }
  
  .description {
    display: inherit;
    justify-content: space-between;
    align-items: inherit;
    font-size: 0.85rem;
    padding: 1rem;
    /* max-width: var(--max-width); */
    z-index: 2;
    font-family: var(--font-mono);
  }
  
  .description a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  
  .description p {
    position: relative;
    margin: 0;
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
  }
  
  .nextPageButton{
    background-color: #f6eadb;
    padding: 3vh;
    border-radius: 10px;
    border-color:darkgrey;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px;
    color:#f8fafe
  }
  
  .nextPageButton:hover{
    border-color:aqua;
    box-shadow: 0 0 3px aqua;
    font-weight: bold;
  }
  
  
  .startTextcompany{
    text-align:right;
    color:#000000;

    /* width: inherit; */
  }
  
  .startLetter{
    margin-top: 0%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f8fafe;
    padding: 2rem;
    width: 50%;
    border-radius: 10px;
    box-shadow: -3px -2px 0px #837f7b8f;
  }
  
  .startbutton{
    min-width:100px;
  }
  
  .letterText{
    color: #000000;
  }
    
  .logo {
    position: relative;
  }

  .verifyText{
    margin: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .block{
    background-color: #f8fafe;
    width: 50%;
    border-radius: 10px;
    margin-top: 1vh;
    box-shadow: -3px -2px 0px #837f7b8f;
  }

  .verifyBlock{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .signBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .linkText{
    color: #6900ff;
    cursor: pointer;
    text-decoration: underline;
  }

  .linkText:hover{
    color:#FF0000;
    text-decoration: none;
  }

  .signContentBox{
    background-color: #f8fafe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    overflow: scroll;
    padding:5%
  }

  .signContentText{
    color: #000000;
  }

  .button{
    background-color: #036eb8;
    color:#ffffff;
    width: 50vw;
    margin-top: 2%;
  }


  /* Enable hover only on non-touch devices */
  @media (hover: hover) and (pointer: fine) {
    .card:hover {
      background: rgba(var(--card-rgb), 0.1);
      border: 1px solid rgba(var(--card-border-rgb), 0.15);
    }
  
    .card:hover span {
      transform: translateX(4px);
    }
  }
  
  @media (prefers-reduced-motion) {
    .card:hover span {
      transform: none;
    }
  }
  
  /* Mobile */
  @media (max-width: 700px){
    .block{
      width: 90%;
      border-radius: 10px;
    }

    .startLetter{
      margin-top: 0%;
      padding-left: 5%;
      padding-right: 5%;
      padding: 2rem;
      width: 90%;
      border-radius: 10px;
    }

    .verifyBlock{
      display: flex;
      align-items: center;
      border-radius: 10px;
      justify-content: space-evenly;
    }

    .signBlock{
      display: flex;
      align-items: center;
      border-radius: 10px;
      justify-content: center;
    }

    .button{
      background-color: #036eb8;
      color:#ffffff;
      width: 80vw;
      margin-top: 2%;
    }
  }
  /* @media (max-width: 700px) {
    .content {
      padding: 4rem;
    }
  
    .grid {
      grid-template-columns: 1fr;
      margin-bottom: 120px;
      max-width: 320px;
      text-align: center;
    }
  
    .card {
      padding: 1rem 2.5rem;
    }
  
    .card h2 {
      margin-bottom: 0.5rem;
    }
  
    .center {
      padding: 8rem 0 6rem;
    }
  
    .center::before {
      transform: none;
      height: 300px;
    }
  
    .description {
      font-size: 0.8rem;
    }
  
    .description a {
      padding: 1rem;
    }
  
    .description p,
    .description div {
      display: flex;
      justify-content: center;
      position: fixed;
      width: 100%;
    }
  
    .description p {
      align-items: center;
      inset: 0 0 auto;
      padding: 2rem 1rem 1.4rem;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
      background: linear-gradient(
        to bottom,
        rgba(var(--background-start-rgb), 1),
        rgba(var(--callout-rgb), 0.5)
      );
      background-clip: padding-box;
      backdrop-filter: blur(24px);
    }
  
    .description div {
      align-items: flex-end;
      pointer-events: none;
      inset: auto 0 0;
      padding: 2rem;
      height: 100px;
      background: linear-gradient(
        to bottom,
        transparent 0%,
        rgb(var(--background-end-rgb)) 40%
      );
      z-index: 1;
    }
  } */
  
  /* Tablet and Smaller Desktop */
  /* @media (min-width: 701px) and (max-width: 1120px) {
    .grid {
      grid-template-columns: repeat(2, 50%);
    }
  }
  
  @media (prefers-color-scheme: dark) {
    .vercelLogo {
      filter: invert(0);
    }
  
    .logo {
      filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  } */
  