.main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    padding: 1rem;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
  }

.question{
  width: 50vw;
  flex-direction: row;
  /* display: flex; */
  background-color:#f8fafe;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: -3px -2px 0px #837f7b8f;
}

.inlineQuestion{
  margin-right: 3rem;
  margin-bottom: 1rem;
}

.buttonGroup{
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 50vw;
  min-height: 6vh;
  /* display: flex; */
  background-color:#036eb8;
  justify-content: right;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 0.5vh;
  padding-top: 0.5vh;
  z-index: 10;
  box-shadow: -1px -3px 5px -1px rgba(131,127,123,0.5);
}

.buttonStyle{
  color:#000000;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.buttonStyle:hover{
  background-color: #0265aa;
}

.titleStyle{
    color:#ffffff,
}

.block{
  background-color: #f8fafe;
  width: 50%;
  border-radius: 10px;
  margin-top: 1vh;
  box-shadow: -3px -2px 0px #837f7b8f;
}

 /* Mobile */
 @media (max-width: 700px){
  .question{
    width:100%;
    align-items: center;
  }

  .buttonGroup{
    width: 100vw;
  }
 }