.main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    padding: 1rem;
    min-height: 100vh;
    background-color: #e9e9cf;
  }

.question{
  display: flex;
  flex-direction: row;
  /* display: flex; */
  background-color:#ffffff;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 100%;
  justify-content: space-between;
}

.inlineQuestion{
  margin-right: 3rem;
  margin-bottom: 1rem;
}

.buttonGroupStyle{
  flex-direction: row-reverse;
  background-color: bisque;
  justify-content: center;
}